h1{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color: rgb(187, 96, 96);
}
.image-grid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
    gap: 30px;
}
.image-grid img{
    width: 100%;
    height: auto;
    border-radius: 9px; 
    border: 2px solid powderblue;
}
.image-grid img:hover {
        transform: scale(1.1);}
        button{
            background-color: rgb(76, 123, 165);
            color: aliceblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 5px;
            margin: 8px;
            border: 2px solid powderblue;
            cursor: pointer;
            
            
        }